{% extends 'fakebook_base.html' %}
{% set active_page = 'find_friends' %}
{% block fakebook_content %}
<div class="container-fluid" style="padding-left: 0;min-height:605px" ng-controller="FindFriendsController as vm" ng-init="vm.fetchFriends()">
        <div class="col-md-8 dashboard-container">
            <div class="card">
                <div class="header">
                    <h4 class="title">Find Friends</h4>
                    <p class="category">We will help you find friends</p>
                </div>
                <div class="content all-icons">
                    <div class="row">
                      <div class="font-icon-list col-lg-3 col-md-4 col-sm-5 col-xs-7" ng-repeat="person in vm.people">
                        <div class="font-icon-detail"><img class="person-image" ng-src="[[ person.image ]]">
                          <i class="fa fa-circle" ng-if="vm.active[person.id]" style="color:rgb(66, 183, 42)" aria-hidden="true"></i>
                          <input type="text" ng-value="person.name">
                          <md-menu ng-if="person.status == 'Friends' ">
                            <md-button aria-label="Friends" class="md-accent md-raised md-hue-1" ng-click="$mdMenu.open()">
                                [[ person.status ]]
                            </md-button>
                            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                              <md-menu-item>
                                <md-button ng-click="vm.confirmUnfriend($event,person.id,person.name)">
                                  Unfriend
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                          
                          <md-button class="md-raised md-primary add-friend" ng-if="person.status == 'Cancel' " ng-click="vm.cancelRequest(person.id)">[[ person.status ]]</md-button>
                          <md-button class="md-raised md-primary add-friend" ng-if="person.status == 'Accept' " ng-click="vm.acceptRequest(person.id)">[[ person.status ]]</md-button>
                          <md-button class="md-raised md-primary add-friend" ng-if="person.status == 'Add Friend' " ng-click="vm.addFriend(person.id)">[[ person.status ]]</md-button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}