{% extends 'base.html' %} 
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Requests</h2>
        <table class="table table-striped">
            <tr>
                <th>No.</th>
                <th>Wait</th>
                <th>Resolve</th>
            </tr>
            <tr>
                <form class="form-inline" action="/dashboard/resolve">
                    <td>1</td>
                    <td>2</td>
                    <input type="text" name="request_id" value="" hidden>
                    <td><input type="submit" value="Resolve" class="btn btn-primary"></td>
                </form>
            </tr>
        </table>
    </div>
</div>
</div>
{% endblock %}