{% extends 'delhivery_base.html' %}
{% set active_page = 'home' %}
{% block delhivery_content %}
{% if user.role.role == 'STORE_MANAGER' %}
<div class="container-fluid" ng-controller="TasksControllerStoreManager as vm">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Create Task</h4>
                </div>
                <div class="content">
                    <form ng-submit="vm.createTask()">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <md-input-container class="md-block">
                                        <label>Title</label>
                                        <input ng-model="vm.title" required>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <md-input-container style="width:100%">
                                        <label>Priority</label>
                                        <md-select name="Priority" ng-model="vm.priority" required>
                                            <md-option ng-value="$index" ng-repeat="option in vm.priorityOptions">[[ option ]]</md-option>
                                        </md-select>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="padding-left:15px;padding-right:15px;">
                                    <md-input-container class="md-block" flex="130">
                                    <label>Description</label>
                                    <textarea ng-model="vm.description" md-maxlength="200" rows="3" md-select-on-focus></textarea>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Create Task</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if user.role.role == 'DELIVERY_BOY' %}
<div class="container-fluid" ng-controller="TasksControllerDeliveryAgent as vm" ng-init="vm.fetchMyTasks()">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                    <center><h2 class="title"><u>Your Tasks</u></h2></center>
                </div>
                <div class="content table-responsive table-full-width" ng-show="vm.my_tasks.length">
                    <table class="table table-hover">
                        <thead>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Priority</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in vm.my_tasks">
                                <td ng-bind="task.id"></td>
                                <td ng-bind="task.title"></td>
                                <td ng-bind="task.created_by.name"></td>
                                <td ng-bind="task.humanized_time"></td>
                                <td ng-bind="task.priority"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <center ng-hide="vm.my_tasks.length"><h3>No tasks to show</h3></center>
            </div>
        </div>


    </div>
</div>
{% endif %}
{% endblock %}